/* Colors */
:root {
  --text-color: #fafafa;
  --background-color: #050505;
  --primary-color: #8fb3ff;
  --secondary-color: #1a1a19;
  --accent-color: #b3b4b1;
}

.primary_background {
  background-color: var(--primary-color);
}

.secondary_background {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.accent_background {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.accent_color {
  color: var(--accent-color);
}

.primary_color {
  color: var(--accent-color);
}

/* Heading */
.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.heading_medium {
  font-weight: 500;
}

.sub_heading {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0 30px;
}

/* Body */
.body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.body_medium {
  font-weight: 500;
}

.body_bold {
  font-weight: 600;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar */
#navigation_bar {
  padding: 0 10%;
  font-size: 1.2rem;
}

#brand_logo {
  height: 50px;
}

.nav-link {
  color: var(--text-color);
  margin: 0 10px;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-button {
  margin: 0 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 20px;
  border-color: transparent;
}

.hero_button:hover,
:not(.btn-check) + .btn:active,
.nav-button.primary_background:hover {
  outline: none;
  background-color: var(--primary-color);
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary-color);
  border-color: transparent;
}

.nav-button.secondary_background:hover {
  outline: none;
  background-color: var(--secondary-color);
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
  border-color: transparent;
}

#nav-icon {
  height: 25px;
}

/* Hero Page */
#hero_page {
  margin: 3% 0;
  padding: 5% 10%;
}

.flex_container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

#hero_page h1 {
  margin-bottom: 30px;
}

#hero_page p {
  line-height: 1.6;
}

.hero_button {
  margin-top: 30px;
  padding: 15px 20px;
  border: none;
}

#hero_image {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 50%;
}

/* About Me */
#about_me {
  margin: 3% 0;
  padding: 20px 10%;
}

#about_me h4 {
  font-size: 1.5rem;
  text-align: center;
}

.about_box {
  border-radius: 10px;
  padding: 2% 5%;
  line-height: 1.5;
}

.about_list {
  list-style-type: none;
  margin: 20px 0;
  padding: 5px;
}

.list_item {
  margin: 15px 0;
  padding: 0;
}

/* Skills */
#skills {
  margin: 3% 0;
  padding: 20px 10%;
}

.tools,
.technologies {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
  align-items: center;
  border-radius: 10px;
  gap: 30px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.tool,
.technology,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#skill_icon {
  height: 60px;
}

#head_icon {
  height: 60px;
}

/* Projects */
#projects {
  margin: 3% 0;
  padding: 20px 10%;
}

.project_container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  border: none;
  width: 23rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}

/* .project_container::after {
  content: "";
  width: 23rem;
  height: 50px;
} */

.card:hover {
  box-shadow: rgba(112, 112, 112, 0.3) 0px 10px 20px 0px;
  transition: box-shadow 0.5s ease-in-out;
}

#card_image {
  border-radius: 7px;
}

#projects hr {
  color: rgb(207, 207, 207);
}

.action_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 0;
}

.action_button {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

#action_icons {
  height: 35px;
}

.list-group-item {
  background-color: var(--secondary-color);
  border-bottom: 2px solid rgb(63, 63, 63);
  padding-left: 5px;
  color: var(--text-color);
}

/* Contact Me */

/* CSS Queries */
@media (max-width: 992px) {
  .heading {
    font-size: 2.5rem;
  }

  .body {
    font-size: 1rem;
  }

  #navigation_bar {
    padding: 0 50px;
  }

  .nav-button {
    margin: 10px 8px;
  }

  #hero_page {
    padding: 50px 50px;
  }

  .flex_container {
    gap: 50px;
  }

  #hero_image {
    height: 250px;
  }

  #about_me {
    padding: 0 50px;
  }

  #skills {
    padding: 0 50px;
  }

  #projects {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  #navigation_bar {
    padding: 0 20px;
  }

  #hero_page {
    padding: 20px 20px 50px;
  }

  .flex_container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }

  #hero_page h1 {
    margin-bottom: 10px;
  }

  .hero_button {
    margin-top: 7px;
  }

  #about_me {
    padding: 0 20px;
  }

  #skills {
    padding: 20px;
  }

  .tools,
  .technologies {
    width: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: var(--secondary-color);
  }

  .icons {
    gap: 30px;
  }

  #skill_icon {
    height: 50px;
  }

  #head_icon {
    height: 50px;
  }

  #projects {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    --bs-gutter-x: 1.5rem;
  }

  #navigation_bar {
    padding: 0 5px;
    font-size: 1rem;
  }

  #brand_logo {
    height: 45px;
  }

  .nav-button {
    font-size: 1rem;
  }

  #hero_page {
    padding: 7px 20px 20px;
    margin: 0 0 20px;
    text-align: center;
  }

  #hero_page p {
    padding: 0 10px;
  }

  #hero_image {
    height: 200px;
    margin: 10px 0 0;
  }

  .new_line {
    display: block;
  }

  .hero_button {
    padding: 10px 15px;
  }

  #about_me {
    margin: 20px 0;
    padding: 20px;
  }

  #about_me h2 {
    font-size: 2.5rem;
    margin: 20px 0;
  }

  .about_box_grid {
    display: flex;
    flex-direction: column;
  }

  .about_list {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
  }

  .list_item {
    margin: 10px;
    padding: 0;
  }

  #skills {
    margin: 20px 0;
    padding: 20px;
  }

  #skill_icon {
    height: 40px;
  }

  #head_icon {
    height: 40px;
  }

  #projects {
    margin: 20px 0;
    padding: 20px;
  }

  .project_container {
    gap: 20px;
  }

  .card {
    margin: 10px 0;
  }
}
