<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Thakkar - Portfolio</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- User Stylesheet -->
    <link rel="stylesheet" href="/Stylesheets/style.css">

    <!-- Favicon  -->
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>

<body>
    <!-- Navbar -->
    <section id="navigation_bar">
        <nav class="navbar navbar-expand-lg navbar-light body_medium">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><img src="/Images/Logo and PFP/om_thakkar_logo.png" alt="Brand Logo" id="brand_logo"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#about_me">About Me</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#skills">Skills</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#projects">Projects</a>
						</li>
                        <li class="nav-item">
							<button type="button" class="btn btn-light nav-button secondary_background"><img src="/Images/Social Icons/dark-mode.svg" alt="" id="nav-icon" height="25px"></button>
						</li>
						<li class="nav-item">
							<button type="button" class="btn btn-light nav-button primary_background">Resume <img src="/Images/Social Icons/resume.svg" alt="" id="nav-icon" height="25px"> </button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
    </section>

    <!-- Hero Page  -->
    <section id="hero_page">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-7 col-sm-12 order-sm-first order-md-first order-last">
                    <h1 class="heading_bold">Hello, I'm <span class="accent_background">Om Thakkar!</span></h1>
                    <p class="body-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque debitis tempore velit culpa quaerat libero perferendis repellendus totam excepturi animi!</p>
                    <button type="button" class="btn btn-light btn-lg primary_background"> Get In Touch </button>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 order-sm-last order-md-last order-first">
                    <img src="/Images/Logo and PFP/om-thakkar-profile-pic-circle-creative.png" alt="" id="hero-img">
                </div>
            </div>
        </div>
    </section>

    <!-- About Me -->
    <section id="about_me">

    </section>

    <!-- Skills  -->
    <section id="skills">

    </section>

    <!-- Projects  -->
    <section id="projects">

    </section>

    <!-- Contact Me  -->
    <section id="contact_me">

    </section>
</body>

</html>